$color_fujiWhite: #DCD7BA; // Default foreground
$color_oldWhite: #C8C093; // Dark foreground (statuslines)
$color_sumiInk0: #16161D; // Dark background (statuslines and floating windows)
$color_sumiInk1: #1F1F28; // Default background
$color_sumiInk2: #2A2A37; // Lighter background (colorcolumn, folds)
$color_sumiInk3: #363646; // Lighter background (cursorline)
$color_sumiInk4: #54546D; // Darker foreground (line numbers, fold column, non-text characters), float borders
$color_waveBlue1: #223249; // Popup background, visual selection background
$color_waveBlue2: #2D4F67; // Popup selection background, search background
$color_winterGreen: #2B3328; // Diff Add (background)
$color_winterYellow: #49443C; // Diff Change (background)
$color_winterRed: #43242B; // Diff Deleted (background)
$color_winterBlue: #252535; // Diff Line (background)
$color_autumnGreen: #76946A; // Git Add
$color_autumnRed: #C34043; // Git Delete
$color_autumnYellow: #DCA561; // Git Change
$color_samuraiRed: #E82424; // Diagnostic Error
$color_roninYellow: #FF9E3B; // Diagnostic Warning
$color_waveAqua1: #6A9589; // Diagnostic Info
$color_dragonBlue: #658594; // Diagnostic Hint
$color_fujiGray: #727169; // Comments
$color_springViolet1: #938AA9; // Light foreground
$color_oniViolet: #957FB8; // Statements and Keywords
$color_crystalBlue: #7E9CD8; // Functions and Titles
$color_springViolet2: #9CABCA; // Brackets and punctuation
$color_springBlue: #7FB4CA; // Specials and builtin functions
$color_lightBlue: #A3D4D5; // Not used
$color_waveAqua2: #7AA89F; // Types
$color_springGreen: #98BB6C; // Strings
$color_boatYellow1: #938056; // Not used
$color_boatYellow2: #C0A36E; // Operators, RegEx
$color_carpYellow: #E6C384; // Identifiers
$color_sakuraPink: #D27E99; // Numbers
$color_waveRed: #E46876; // Standout specials 1 (builtin variables)
$color_peachRed: #FF5D62; // Standout specials 2 (exception handling, return)
$color_surimiOrange: #FFA066; // Constants, imports, booleans
$color_katanaGray: #717C7C; // Deprecated

$color_background: $color_sumiInk1;
$color_foreground: $color_fujiWhite;
$color_dim: $color_fujiGray;
$color_accent1: $color_oniViolet;
$color_accent2: $color_sakuraPink;


