.music-info {
	background-color: $color_background;
	border-radius: 6px;
	padding: 1px 15px;
}

.music-controls button {
	background-color: $color_background;
	border-radius: 6px;
	padding: 1px 15px;
	
	&:hover {
		background-color: $color_accent1;
		color: $color_background;
	}
}
