.workspaces button {
	padding: 2px 14px;
	margin: 8px 6px;
	border-radius: 8px;
}

.workspaces {

	button:hover {
		background-color: $color_accent2;
	}

	button.focused {
		background-color: $color_accent1;
		color: $color_background;
	}

	button.selected {
		color: $color_accent1;
	}
}

