.workspaces button {
	padding: 5px 12px;
}

.workspaces {

	button:hover {
		background-color: $color_accent2;
	}

	button.focused {
		background-color: $color_accent1;
		color: $color_background;
	}

	button.selected {
		color: $color_accent1;
	}
}

